@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  -webkit-user-drag: none;
  --asd: theme('colors.indigo.500');
  @apply transition-all outline-none select-none
}

a, button {
  @apply cursor-default
}

body {
  @apply overflow-hidden bg-zinc-100
}
