@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/Satoshi-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --stone-900: #0f172a;
  --stone-200: #e2e8f0
}

* {
  -webkit-user-drag: none;
  @apply transition-all outline-none select-none
}

a, button {
  @apply cursor-default
}

body {
  @apply overflow-hidden bg-white
}

.webkit-slider-thumb::-webkit-slider-thumb {
  cursor: pointer;
  border: 2px solid var(--stone-900);
}
